@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
@font-face {
	font-family: 'Courgette-Regular'; 
	src: url(./fonts/Courgette-Regular.ttf); 
}
*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome','Courgette-Regular';
}
body{
    background: rgb(37, 105, 189);
}
h1{
	color: rgb(255, 255, 255);
	margin: 5px auto 0;
	width: 600px;
	text-align: center;
	font-family: 'Courgette-Regular';
	font-size:2em;
}
#wrapper{
	position: absolute;
	width: 320px;
	height: 700px;
	left: 50%;
	margin-left: -160px;
	padding-top: 100px;
	top: 50%;
	margin-top: 30px;
}

/* === Sign in Form === */
#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#signin::before {
	display: block;
	position: relative;
	height: 2px;
	background: rgb(36, 111, 202);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(63, 92, 128);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(96, 173, 123);
}
#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(52, 56, 61);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(52, 56, 61);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
#signin p {
	color: rgb(135, 146, 168);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}


.logo {
	height: 400px;
	width: 400px;
	margin-left: 155px;
	margin-top: 10px;
	align-items: center;
}
.logo:hover {
    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}
.bg {
	animation:slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
  }
  
  .bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
  }
  
  .bg3 {
	animation-duration:5s;
  }
  
  .content {
	background-color:rgba(61, 61, 65, 0.8);
	border-radius:.25em;
	height: 700px;
	margin-top: 10px;
	width: 1000px;
	box-shadow:0 0 .25em rgba(0,0,0,.25);
	box-sizing:border-box;
	left:50%;
	padding:15vmin;
	position:fixed;
	text-align:center;
	top:50%;
	transform:translate(-50%, -50%);
  }
  
  h1 {
	font-family:monospace;
	margin-top: -120px;
  }
  
  @keyframes slide {
	0% {
	  transform:translateX(-25%);
	}
	100% {
	  transform:translateX(25%);
	}
  }