<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_cart.css">
    <title>Корзина</title>
</head>
<body>
    <header>
        <div class="top_line_location">
            <div class="loc">
                <img src="img/location-img.svg" alt="говно" class="location-image" style="width: 20px;height: 20px;margin-left: 50px;">
            </div>
            <div class="city">
                <a href=""><p style="color: blue;">Москва</p></a>
            </div>
        </div>
        <div class="user_menu">
            <div class="logo_and_search">
                <div class="logo">
                    <a href="index.html"><img src="img/logo.svg" alt="logo" style="width: 250px;height: 80px;"></a>>
                </div>
                <div class="search">
                    <input type="search" id="site-search" name="string" autocomplete="on" width="100px" placeholder="Поиск...">
                    <button style="margin-left: -3px;">Search</button>
                </div>
            </div>
            <div class="account_menu">
                <div class="cart">
                   <a href="" class="menu_links"><img src="img/cart.svg" alt="cart" ></a>
                </div>
                <div class="mail">
                    <a href="" class="menu_links"><img src="img/mail.svg" alt="mail"></a>
                </div>
                <div class="curr_balance">
                    <div class="wallet"><a href="" class="menu_links"><img src="img/wallet.svg" alt="wallet"></a></div>
                    <div class="balance"><a href="" style="color: blue;"><p>#цифры баланса</p></a></div>
                </div>
                <div class="profile">
                    <a href="" class="menu_links"><img src="img/profile_av.svg" alt="profile" ></a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="content">
        <h1>Содержимое корзины</h1>
        <div class="buttons_upper_table">
            <div class="button_top_left">
                <a href="index.html" class="buttons_secondary">Продолжить покупки
                </a>
            </div>
            <div class="button_top_right">
                <a href="" class="buttons_secondary">
                    <span>Оформить заказ</span>
                </a>
            </div>
        </div>
        <div class="table_cart">
            <table class="table_cart">
                <thead >
                        <th class="table_cart_product">Товар</th>
                        <th class="table_cart_name">&nbsp;</th>
                        <th class="table_cart_price">Цена за гр.</th>
                        <th class="table_cart_weight">Вес</th>
                        <th class="table_cart_summary">Итого</th>
                </thead>
                <tbody>
                    <th class="table_cart_product_body"><img src="img/mail.svg" style="height: 124px;"></th>
                    <th class="table_cart_name_body">Письмо</th>
                    <th class="table_cart_price_body">10 шекелей</th>
                    <th class="table_cart_weight_body">50 грамм</th>
                    <th class="table_cart_summary_body">100500 рублей</th>
                </tbody>     
            </table>
        </div>
        <div class="footer_table_cart">

        </div>
        
    
    
    
    
    
    
    
    
    
    
    </div>
    <footer>

    </footer>
</body>
