<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Registration page</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static',filename='css/register_styles.css')}}">

  
</head>

<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content">
  <h1 >Добро пожаловать на Hydrant!! Тут вы можете чувствовать себя в безопасности))</h1>
  <div class="logo"><a href="" class="bigger-logo"><img src="{{ url_for('static',filename='img/logo.svg')}}" alt="говно"></a></div>
<div id="wrapper">
	<form id="signin" name="form" method="POST"  autocomplete="off">
		<input type="text" id="user" name="login" placeholder="Сюда логин" />
		<input type="password" id="pass" name="password" placeholder="Сюда пароль" />
        <input type="password" id="pass1" name="password2" placeholder="Сюда еще пароль" />
		<button type="submit" value="{{url_for('register')}}">&#xf0da;</button>
		<p>Уже с нами? <a href="{{url_for('login_page')}}">Молви друг и войди</a></p>
	</form>
    
</div>
  
</div>
</body>
</html>
